::selection {
    background-color: #fec260;
    color: #352e28;
}
li{
    list-style: none;
    font-size: 20px;
}
i{
  cursor: pointer;
}
.main {
  background-color: #f7ecde;
  height: 100vh;
}

h1 {
  font-family: "Pacifico", system-ui;
  font-size: 50px;
  position: relative;
  z-index: 1 ;

}
h1::before {
  content:"";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #fec260;
  bottom: 5px;

  z-index: -9999;
  transition: all 0.3s;
}
h1:hover::before{
  height: 75%;
}
.input-section {
 
  border-top: dotted 1px black;
  border-bottom: dotted 1px black;
}
.input-section button{

    background-color: #d1512d;
}
.input-section h2{
  font-family: "Righteous", cursive;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    background-clip: text;
    

}

.input-section label{
font-weight: 600;
}
#lightBoxContainer {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
#lightBox {

    height: 300px;

}
span {
  display: block;
  width: 25px;
  height: 25px;
}
#lightBox .colored-icons{
    width: 15%;
}
